* {
  box-sizing: border-box;
}

.row {
    display: flex;
    width: 100%;
  }

  .column {
    flex: 33.33%;
    padding: 30px;
    height: 50%;
    width: 33%;
    display: flex;
  }
 .container {
     width: 100%;
     text-align: center;
     display: block;
     margin: auto;
  }