{% extends 'base.html' %}

{% block headdata %}
<title>Schedule</title>

{% load static %}
<link rel="stylesheet" type='text/css' href="../../../static/css/styles.css">
{% endblock %}

{% block main_content %}

<h1>Schedule</h1>
<button class="logout">Logout</button>
<br><br>
<table class="TablePage" style="width:75%">
    <tr id="TableHeaders">
        <th>Event</th>
        <th>Country</th>
        <th>Dates</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr class="EvenRow">
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>
{% endblock %}