{% extends 'base.html' %}

{% block headdata %}
<title>Schedule</title>
{% endblock %}

{% block main_content %}

<h1>Schedule</h1>

<div class="flex">
<div class="card m-2 w-100">

    <table class="TablePage">
        <thead>
            <tr>
                <th>Event</th>
                <th>Laps</th>
                <th>Length</th>
                <th>Dates</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            {% for race in races %}
                <tr>
                    <td title="{{ race.location }}">{{ race.location }}</td>
                    <td>{{ race.laps }}</td>
                    <td title="{{ race.trackLength }}">{{ race.trackLength }}</td>
                    <td title="{{ race.date }}">{{ race.date }}</td>
                    <td title="{{ race.time }}">{{ race.time }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}