<!DOCTYPE html>
<html>

<head>
    <title>for1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cars/cars.css' %}">
</head>

<body>

<h1>Schedule</h1>

<table style="width:75%">
    <tr>
        <th>Event</th>
        <th>Country</th>
        <th>Dates</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>


</body>
</html>

