{% extends 'base.html' %}

{% block headdata %}
<title>My Profile</title>

{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'css/profile/profile.css' %}">
{% endblock %}

{% block main_content %}
    <h1>Your Profile</h1>
    {% if user.is_authenticated %}

        <div class="flex flex-row">

            <div class="profile-picture-container">
                <img src="{{user.profile_image}}">
            </div>

        <table>
            <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>{{user.email}}</td>
            </tr>
        </table>

        </div>



    <form ACTION="/action_page.php">



        <label for="team">Favourite Constructor:</label>
        <select id="team" name="team">
            <option value="volvo">Mercedes</option>
            <option value="saab">McLaren</option>
            <option value="fiat">Ferrari</option>
            <option value="audi">AM</option>
        </select>

        <input type="submit">
        <label for="cars">Favourite Racer:</label>
        <select id="cars" name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>

        <input type="submit">

        <h2>Bio</h2>

        <textarea name="message" rows="10" cols="150">im a big knob</textarea>
        <input type="submit">

        <h1>Voting History</h1>
        <table style="width:35%">
            <tr>
                <th>Event</th>
                <th>Country</th>
                <th>Dates</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
        </table>

    </form>


    {% else %}

    <h2>You're not logged in. Please log in or register first!</h2>

    <button ><a href="{% url 'login' %}" >Login</a></button>
    <button><a href = "{% url 'register' %}">Register</a></button>
    {% endif %}

{% endblock %}