{% extends 'base.html' %}

{% block headdata %}
    <title>My Profile</title>

     {% load static %}
    {%  load staticfiles %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/profile/profile.css' %}">
{% endblock %}

{% block main_content %}

    <div class="flex flex-row justify-content-between align-items-center">
        <h1>Your Profile</h1>

        {% if user %}
            <a style="text-decoration: none" href="{% url 'profile_edit' %}">
                <button class="btn secondary-button">
                    Edit
                </button>
            </a>
        {% endif %}
    </div>


    {% if user %}

        <div class="flex flex-row">

            <div class="card m-2 w-33">
                <div class="smaller-title">Profile Image</div>
                <div class="m-2 flex justify-content-center align-items-center">
                    {% if profile_picture %}
                        <img class="profile-picture-container" src="{{ profile_picture }}" alt="profile-picture">
                    {% else %}
                        <div class="h-100 w-100 flex justify-content-center align-items-center">
                            <div>No Image set</div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="card m-2 w-33">
                <div class="smaller-title">Username</div>
                <div class="mt-1 mb-3">{{ user.username }}</div>
                <div class="smaller-title mt-3">E-Mail</div>
                <div class="mt-1 mb-3">{{ user.email }}</div>
                <div class="smaller-title mt-3">Date joined</div>
                <div class="mt-1">{{ user.date_joined }}</div>
            </div>

            <div class="card m-2 w-33">
                <div class="smaller-title">Favourite Driver</div>
                <div class="mt-1 mb-3">{{ user_profile.favDriver }}</div>
                <div class="smaller-title mt-3">Favourite Car</div>
                <div class="mt-1 mb-3">{{ user_profile.favCar }}</div>
                <div class="smaller-title mt-3">Favourite Constructor</div>
                <div class="mt-1">{{ user_profile.favTeam }}</div>
            </div>

        </div>

        <div class="card m-2">
            <div class="smaller-title">About me</div>
            <p>{{ user_profile.aboutMe }}</p>
        </div>

        <div class="flex">
            <div class="flex-fill card m-2">
                <h3>Latest Driver Ratings</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Personality</th>
                        <th>Aggressiveness</th>
                        <th>Awareness</th>
                        <th>Experience</th>
                        <th>Starts</th>
                        <th>Pace</th>
                        <th>Racecraft</th>
                        <th>Overall Rating</th>
                    </tr>
                    {% for rating in driver_ratings %}
                        <tr>
                            <td><a href="{% url 'driver_rate' rating.driverID.slug %}">{{ rating.driverID.name }}</a>
                            </td>
                            <td>{{ rating.personality }}</td>
                            <td>{{ rating.aggressiveness }}</td>
                            <td>{{ rating.awareness }}</td>
                            <td>{{ rating.experience }}</td>
                            <td>{{ rating.starts }}</td>
                            <td>{{ rating.pace }}</td>
                            <td>{{ rating.racecraft }}</td>
                            <td>{{ rating.overallRating }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="flex">
            <div class="flex-fill card m-2">
                <h3>Latest Car Ratings</h3>
                <table>
                    <tr>
                        <th>Model</th>
                        <th>Speed</th>
                        <th>Aerodynamics</th>
                        <th>Aesthetics</th>
                        <th>Braking</th>
                        <th>Engine</th>
                        <th>Overall Rating</th>
                    </tr>
                    {% for rating in car_ratings %}
                        <tr>
                            <td><a href="{% url 'car_rate' rating.carID.slug %}">{{ rating.carID.model }}</a></td>
                            <td>{{ rating.speed }}</td>
                            <td>{{ rating.aerodynamics }}</td>
                            <td>{{ rating.aesthetics }}</td>
                            <td>{{ rating.braking }}</td>
                            <td>{{ rating.engine }}</td>
                            <td>{{ rating.overallRating }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="flex">
            <div class="flex-fill card m-2">
                <h3>Latest Constructor Ratings</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Team Principle</th>
                        <th>Race Strategy</th>
                        <th>Pit Stops</th>
                        <th>Overall Rating</th>
                    </tr>
                    {% for rating in constructor_ratings %}
                        <tr>
                            <td>
                                <a href="{% url 'constructor_rate' rating.constructorID.slug %}">{{ rating.constructorID.name }}</a>
                            </td>
                            <td>{{ rating.teamPrinciple }}</td>
                            <td>{{ rating.raceStrategy }}</td>
                            <td>{{ rating.pitStop }}</td>
                            <td>{{ rating.overallRating }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>


    {% else %}

        {% if request.user.is_superuser %}

            <div class="card me-2">
                <h2>You, are the superuser. You don't have a profile page :(</h2>
            </div>


        {% else %}

        <div class="card">

            <h2>You're not logged in. Please log in or register first!</h2>

            <div class="flex flex-row">
                <a style="text-decoration: none" href="{% url 'login' %}">
                    <button class="btn primary-button">Login</button>
                </a>

                <a style="text-decoration: none; margin-left: 24px" href="{% url 'register' %}">
                    <button class="btn secondary-button">Register</button>
                </a>
            </div>

        </div>

        {% endif %}

    {% endif %}

{% endblock %}