.TeamLogo {
    height: 150px;
    width: 150px;
    float: left;
    object-fit: cover;
    display: inline;
}

.header {
    display: block;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1%;
}

#headerText {
    font-size: 250%;
    height: 50%;
    font-weight: bold;
    display: inline;
}

img {
    vertical-align: middle;
}

span {
    padding: 10px;

}
* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 5px;
}

.row {
    display: block;
}

.DriverImage {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    display: block;
}

.DriverLink {
    display: block;
    text-align: center;
    text-decoration: none;
}

.car {
    width: 465px;
    height: 138px;
}

.TeamInfo {
    text-align: right;
    font-size: 20px;
    display: block;
    float: left;
}

#about {
    display: block;
}

.pubs {
    display: inline-block;
    margin-right: 0px;
}