{% extends 'base.html' %}

{% block headdata %}
{% load staticfiles %}
<title>{{ driver.name }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/drivers/drivers.css' %}">
{% endblock %}


{% block main_content %}

    <h1>{{ driver.name }}</h1>

    <div class="flex flex-row m-2 justify-content-between">
        <a style="text-decoration: none" href="{% url 'drivers' %}">
            <button class="btn back-button">
                < Back
            </button>
        </a>

        <a style="text-decoration: none" href="{% url 'driver_rate' driver.slug %}">
            <button class="btn primary-button">
                Rate
            </button>
        </a>
    </div>

    <div class="flex flex-row">

    <div class="card w-33 m-2">
        <div class="img w-100 h-100 flex justify-content-center align-items-center">
            <img src="{% static 'images/Drivers/' %}{{ driver.slug }}.jpeg" alt="Picture of {{ driver.name }}">
        </div>
    </div>

    <div class="card flex-fill flex flex-column m-2 justify-content-center">
        <table>
            <tr>
                <td><div class="smaller-title">Name</div></td>
                <td><div class="mt-2 mb-2">{{ driver.name }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Constructor</div></td>
                <td><div class="mt-2 mb-2">{{ driver.constructor }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Date of Birth</div></td>
                <td><div class="mt-2 mb-2">{{ driver.DOB }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Height</div></td>
                <td><div class="mt-2 mb-2">{{ driver.height }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Weight</div></td>
               <td><div class="mt-2 mb-2">{{ driver.weight }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Nationality</div></td>
                <td><div class="mt-2 mb-2">{{ driver.nationality }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Driver Number</div></td>
                <td><div class="mt-2 mb-2">{{ driver.driverNumber }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">World Championships</div></td>
               <td><div class="mt-2 mb-2">{{ driver.seasonsWon }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Podiums won</div></td>
                <td><div class="mt-2 mb-2">{{ driver.podiumsWon }}</div></td>
            </tr>
        </table>
    </div>

    </div>

    <div class="card m-2">
        <h3>About</h3>
        <p>{{ driver.about }}</p>
    </div>

{% endblock %}