{% extends 'base.html' %}

{% block headdata %}
<title>Drivers</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/drivers/drivers.css' %}">
{% endblock %}

{% block main_content %}

<h1>Drivers</h1>


<div class="flex flex-row flex-wrap">
    {% for driver in drivers %}
    <a class="card m-2 pointer" href="{% url 'driver_details' driver.slug %}">
        <div class="img mb-2" style="height: 100px; width: 250px">
        </div>
        <h5> {{ driver.name }} </h5>
    </a>
    {% endfor %}
</div>

{% endblock %}