{% extends 'base.html' %}

{% block headdata %}
    <title>Drivers</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/drivers/drivers.ratings.css' %}">
{% endblock %}

{% block main_content %}

    <h1>
        <small>Rating:</small>
        <span>{{ driver.name }}</span>
    </h1>

    <div class="flex flex-row m-2 justify-content-between">
        <a style="text-decoration: none" href="{% url 'driver_details' driver.slug %}">
            <button class="btn back-button">
                < Back
            </button>
        </a>
    </div>

    <div class="card">

        <div class="w-100 flex flex-column">

            <form method="post" action="{% url 'driver_rate' driver.slug %}" enctype="multipart/form-data">

                {% csrf_token %}

                <table>
                    {% for field in rating_form.Meta.fields %}
                        <tr>

                            <td>
                                <label class="rating-label">
                                    <strong>{{ field|title }}</strong>
                                    <input  class="rating"
                                            max="5"
                                            oninput="this.style.setProperty('--value', this.value)"
                                            step="1"
                                            type="range"
                                            value="1"
                                            name="{{ field }}">
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="flex justify-content-end">
                    <button class="btn primary-button" type="submit">
                        Submit
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}