{% extends 'base.html' %}

{% block headdata %}
<title>Leaderboard</title>
{% endblock %}

{% block main_content %}

<h1>Leaderboard Drivers</h1>

<div class="flex">
<div class="card m-2 w-100">

    <table class="TablePage">
        <thead>
            <tr>
                <th>Position</th>
                <th>Driver</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
            {% for driver in drivers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td title="{{ driver.name }}">
                        <a class="red-link" href="{% url 'driver_details' driver.slug %}">{{ driver.name }}</a>
                    </td>
                    <td>{{ driver.overallAverage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
{% endblock %}
