<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>For1</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/drivers/driver.details.css' %}">
</head>

<body>

<div class="hero-image">

    <div class="hero-text">
        <div class="aligned">
            <img src="https://yt3.ggpht.com/ytc/AKedOLTuvuODeTlyYk7EnHu01TY_ErmsYEGpPnd_Oz7Oxw=s900-c-k-c0x00ffffff-no-rj"
                 width="200" alt="">
            <h2>Driver Name </h2>
            <h5> &nbsp; Country Code </h5>
            <h5> &nbsp; Ranking </h5>
        </div>
    </div>

</body>
</html>
