{% extends 'base.html' %}

{% block headdata %}
<title>Drivers</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/drivers/drivers.css' %}">
{% endblock %}

{% block main_content %}

<h1>Drivers</h1>

<div class="row">

    {% for driver in drivers %}
    <div class="column">
        <div class="container">
            <a href="{% url 'driver_details' driver.slug %}">
                {{driver.name}}
            </a>
        </div>
    </div>
    {% endfor %}

</div>


</div>

{% endblock %}