{% extends 'base.html' %}

{% block headdata %}
<title>Drivers</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/drivers/drivers.css' %}">
{% endblock %}

{% block main_content %}

<h1>Drivers</h1>

<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpeg" alt="Snow" style="width:100%">
        <div>
            <p>Driver Name </p>
            <p>Rank</p>
        </div>
    </div>

    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpeg" alt="Snow" style="width:100%">
        <div>
            <p>Driver Name </p>
            <p>Rank</p>
        </div>
    </div>

    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpeg" alt="Snow" style="width:100%">
        <div>
            <p>Driver Name </p>
            <p>Rank</p>
        </div>
    </div>

    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpeg" alt="Snow" style="width:100%">
        <div>
            <p>Driver Name </p>
            <p>Rank</p>
        </div>
    </div>
{% endblock %}
