.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.05);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    transition: 200ms ease-out;
}

.sidebar a:hover:not(.active) {
    background-color: #ccc;
    transition: 200ms ease-out;
}

.active {
    background-color: #555;
    color: white !important;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.message {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: white;
    z-index: 1000; // to keep above any content
}

.messages .success {
    background: rgba(0, 148, 0, 0.75);
}

.messages .error {
    background: rgba(255, 79, 79, 0.75);
}

.messages .info {
    background: rgba(109, 255, 255, 0.75);
}