/* Full-width input fields */

input {
    padding: 15px;
    margin: 16px 0;
    border: 1px solid transparent;
    background: #f1f1f1;
}

select {
    padding: 15px;
    margin: 16px 0;
    border: 1px solid transparent;
    background: #f1f1f1;
    width: 100%;
}

textarea {
    padding: 15px;
    margin: 16px 0;
    border: 1px solid transparent;
    background: #f1f1f1;
    width: 100%;
}

label {
    font-weight: 600;
}

input:hover {
    background-color: #ddd;
    transition: 200ms ease-out;
}

input:focus {
    border-color: red;
}
