{% extends 'base.html' %}

{% block headdata %}
<title>Leaderboard</title>
{% endblock %}

{% block main_content %}

<h1>Leaderboard Constructors</h1>

<div class="flex">
<div class="card m-2 w-100">

    <table class="TablePage">
        <thead>
            <tr>
                <th>Position</th>
                <th>Constructor</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
            {% for constructor in constructors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td title="{{ constructor.name }}"><a href="{% url 'constructor_details' constructor.slug %}">{{ constructor.name }}</a></td>
                    <td>{{ constructor.overallAverage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
{% endblock %}
