{% extends 'base.html' %}

{% block headdata %}
<title>Leaderboard</title>
{% endblock %}

{% block main_content %}

<h1>Leaderboard Cars</h1>

<div class="flex">
<div class="card m-2 w-100">

    <table class="TablePage">
        <thead>
            <tr>
                <th>Position</th>
                <th>Car</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td title="{{ car.model }}"><a href="{% url 'car_details' car.slug %}">{{ car.model }}</a></td>
                    <td>{{ car.overallAverage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
</div>
{% endblock %}
