{% extends 'base.html' %}

{% block headdata %}
<title>Leaderboard</title>
{% endblock %}

{% block main_content %}

<h1>Leaderboard Cars</h1>

<div class="flex">
<div class="card m-2 w-100">

    <table class="TablePage" width="100%">
        <tr id="TableHeaders">
            <th>Position</th>
            <th>Car</th>
            <th>Rating</th>
        </tr>
        {% for car in cars %}
            {% if forloop.counter0|divisibleby:2 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.overallAverage }}</td>
                </tr>
            {% else %}
                <tr class="EvenRow">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.overallAverage }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>


</div>
</div>
{% endblock %}
