.profile-picture-container {
    border: grey 1px solid;
    border-radius: 100px;
    margin: 20px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.smaller-title {
    font-weight: 600;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tr, td,th {
  border: 1px #d2d2d2 solid;
  text-align: center;
  padding: 8px;
}

.td:nth-child(even) {
  background-color: #474e5d;
}
.tr:nth-child(even) {
  background-color: #474e5d;
}
.th:nth-child(even) {
  background-color: #474e5d;
}