{% extends 'base.html' %}

{% block headdata %}
<title>Register</title>
{% endblock %}

{% block main_content %}

    <h1>Register</h1>

    <div class="card">

        <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="flex flex-column">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter username " name="username" required>
            </div>

            <div class="flex flex-column">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter email" name="email" required>
            </div>

            <div class="flex flex-column">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>

            <div class="flex flex-column">
                <label for="picture"><b>Profile Picture</b></label>
                <input id="picture" type="file" name="picture" placeholder="Photo" capture>
            </div>

            <div class="flex flex-row">
                <div class="flex-fill flex align-items-center mr-2">
                    <a id="login" href="/login">Already got an account? Login instead</a>
                </div>

                <button class="btn primary-button" type="submit" value="Register">Register</button>
            </div>

        </form>

    </div>
{% endblock %}