{% extends 'base.html' %}

{% block headdata %}
<title>Login</title>
{% endblock %}

{% block main_content %}

    <h1>Login</h1>

    <div>
        <div class="card w-25">
            <form id="login_form" method="post" action="{% url 'login' %}">

                {% csrf_token %}
                <div class="flex flex-column">
                    <label for="email"><b>Username</b></label>
                    <input type="text" placeholder="Enter username" name="username" required>
                </div>

                <div class="flex flex-column">
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </div>

                <div class="flex flex-row">
                    <div class="flex flex-column flex-fill justify-content-center">
                        <a style="margin-bottom: 4px" href="/register">No account yet? Register here!</a>
                        <a href="/accounts/password_reset">Password forgotten?</a>
                    </div>

                    <button type="submit" class="btn primary-button">Login</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}