<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title> for1</title>
</head>
<body>
<h1 align="left">Drivers</h1>


</body>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}




    </style>
</head>
<body>


<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpeg" alt="Snow" style="width:100%">
        <div>
            <p>Driver Name </p>
            <p>Rank</p>

        </div>
    </div>
    <div>

    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img src="img_snow.jpeg" alt="Forest" style="width:100%">
            <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img src="img_snow.jpeg" alt="Mountains" style="width:100%">
               <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>
    </div>
</div>
<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpg" alt="Snow" style="width:100%">
           <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img src="img_forest.jpg" alt="Forest" style="width:100%">
               <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>

    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
               <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>
    </div>
</div>
<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img src="img_snow.jpg" alt="Snow" style="width:100%">
           <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img src="img_forest.jpg" alt="Forest" style="width:100%">
               <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>

    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
               <div>
                <p>Driver Name </p>
                <p>Rank</p>

            </div>
    </div>
</div>
</body>
</html>
