<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>For1</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

<div class="sidebar">

    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Profile</a>
    <a href="#" class="w3-bar-item w3-button">News</a>
    <a href="#" class="w3-bar-item w3-button">Drivers</a>
    <a href="#" class="w3-bar-item w3-button">Cars</a>
    <a href="#" class="w3-bar-item w3-button">Leaderboard</a>
    <a href="#" class="w3-bar-item w3-button">Schedule</a>
    <a href="#" class="w3-bar-item w3-button">Teams</a>

</div>

<div align="right">
    <input type="button" colour="red" value="Logout"/>
</div>

<div class="content">
    <div align='left'>
        {% include 'for1/users/user.register.html' %}
    </div>
</div>

</body>
</html>
