{% extends 'base.html' %}

{% block headdata %}
<title>News</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/news.css' %}">
{% endblock %}

{% block main_content %}

<h1>News</h1>
{% for n in news %}

<div class="row">
    <div class="myImage">
        <img src={{n.imageURL}}>
    </div>

    <div class="text">
        <a href="{{n.articleURL}}" style="float:right;">{{n.title}}</a>
        <br>
        <div class="texb">
            <p>{{n.summary}}</p>
        </div>
    </div>

</div>
{% endfor %}

{% endblock %}