{% extends 'base.html' %}

{% block headdata %}
<title>News</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/news.css' %}">
{% endblock %}

{% block main_content %}

<h1>News</h1>
    <div class="flex flex-wrap">

    {% for n in news %}

    <a class="flex" style="text-decoration: none !important;" href="{{n.articleURL}}" target="_blank">
    <div class="flex-fill card flex flex-row m-2 hover-shadow pointer">

        <img src={{n.imageURL}}>

        <div class="w-100">
            <div class="flex flex-row">
                <h4 style="margin: 4px 0" class="w-75">{{ n.title }}</h4>
                <p style="margin: 4px; color: grey; text-align: end"
                   class="flex justify-content-end w-25">{{ n.published }}</p>
            </div>
            <p>{{ n.summary }}</p>
        </div>

    </div>
    </a>

    {% endfor %}

    </div>


{% endblock %}