{% extends 'base.html' %}

{% block headdata %}
<title>News</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cars/cars.css' %}">
{% endblock %}

{% block main_content %}

<h1>News</h1>

<div class="row">

    <div class="column">
        <img src="img_snow.jpg" alt="Snow" style="width:90%">
        <div>
            <p>Title</p>
            <p>Description</p>
            {% for n in news %}
            <p>{{ n.title }}</p>
            {% endfor %}

        </div>
    </div>

    <div class="column">
        <img src="img_mountains.jpg" alt="Mountains" style="width:90%">
        <div>
            <p>Title </p>
            <p>Description</p>

        </div>
    </div>

</div>
{% endblock %}