img {
    vertical-align: middle;
}

span {
    padding: 10px;

}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.pubs {
    display: inline-block;
    margin-right: 0px;
    width: 400px;
}
body {
  width: 100%;
  background: linear-gradient(to left bottom, white, red);
}