* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
 display: flex;
  flex: 33.33%;
  padding: 50px;
}

img {
  height: 300px;
}

.DriverInfo {
  text-align: center;
  font-size: 20px;
}
