* {
  box-sizing: border-box;
}

.row {
    display: flex;
    width: 100%;
  }

  .column {
    flex: 33.33%;
    padding: 30px;
    height: 50%;
    width: 33%;
    display: block;
  }
 .container {
     width: 100%;
     text-align: center;
     display: block;
     margin: auto;
  }

 img {
      margin-right: 16px;
      width: 200px;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
  }