<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/tables.css' %}">

    {% block headdata %}
    {% endblock %}


    <!-- Both Scripts needed to let messages fade out -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <script text="javascript">
        setTimeout(fade_out, 2000);
        function fade_out() {
            $(".messages").fadeOut().empty();
        }
        $(".post-form")[0].reset(); // this is to reset the form
    </script>

</head>

<body>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div  {% if message.tags %} class="message {{ message.tags }} " {% endif %}> {{ message }} </div>
    {% endfor %}
</div>
{% endif %}

<div class="flex flex-row">

    <div class="sidebar flex flex-column">

        {% url 'home' as url %}
        <a href="{% url 'home' %}"
            class="{% if request.path == url %}active{% endif %}" >
            Home
        </a>

        {% url 'profile' as url %}
        <a href="{% url 'profile' %}"
            class="{% if request.path == url %}active{% endif %}">
            Profile
        </a>

        {% url 'leaderboard' as url %}
        <a href="{% url 'leaderboard' %}"
            class="{% if request.path == url %}active{% endif %}">
            Leaderboard
        </a>

        {% url 'news' as url %}
        <a href="{% url 'news' %}"
            class="{% if request.path == url %}active{% endif %}">
            News
        </a>

        {% url 'schedule' as url %}
        <a href="{% url 'schedule' %}"
            class="{% if request.path == url %}active{% endif %}">
            Schedule
        </a>

        {% url 'drivers' as url %}
        <a href="{% url 'drivers' %}"
            class="{% if request.path == url %}active{% endif %}">
            Drivers
        </a>

        {% url 'cars' as url %}
        <a href="{% url 'cars' %}"
            class="{% if request.path == url %}active{% endif %}">
            Cars
        </a>

        {% url 'constructors' as url %}
        <a href="{% url 'constructors' %}"
            class="{% if request.path == url %}active{% endif %}">
            Constructors
        </a>


        <div class="flex-fill flex align-items-end">
            {% if user.is_authenticated %}
            <a class="w-100" href="{% url 'logout' %}">Logout</a>

            {% else %}
            <a href="{% url 'login' %}" class="w-100" href="#" style="color:red;">Login</a>
            <a href="{% url 'register' %}" class="w-100" href="#" style="color:red;">Register</a>
            {% endif %}
        </div>

    </div>

    <div class="flex-fill" style="margin: 0 250px 0 450px">
    {% block main_content %}
    {% endblock %}
    </div>

</div>

</body>
</html>
