<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>For1</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

<div class="sidebar">

    <a href="/home/" class="w3-bar-item w3-button">Home</a>
    <a href="/profile/" class="w3-bar-item w3-button">Profile</a>
    <a href="/leaderboard/" class="w3-bar-item w3-button">Leaderboard</a>
    <a href="/news/" class="w3-bar-item w3-button">News</a>
    <a href="/schedule/" class="w3-bar-item w3-button">Schedule</a>
    <a href="/drivers/" class="w3-bar-item w3-button">Drivers</a>
    <a href="/cars/" class="w3-bar-item w3-button">Cars</a>
    <a href="/constructors/" class="w3-bar-item w3-button">Constructors</a>
    <ul id="logout_sidebar_button" class="nav nav-sidebar">
        <a href = "/ratings">Click to Rate</a>
        <a href="/login/">Login</a>
        <a href="#">Logout</a>
    </ul>


</div>


</body>
</html>
