<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/buttons.css">
    <link rel="stylesheet" type='text/css' href="{% static 'css/forms.css' %}">

    {% block headdata %}
    {% endblock %}
</head>

<body>

<div class="flex flex-row">

    <div class="sidebar flex flex-column">

        <a href="/#">Home</a>
        <a href="/#">Profile</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/news">News</a>
        <a href="/schedule">Schedule</a>
        <a href="/drivers">Drivers</a>
        <a href="/cars">Cars</a>
        <a href="/constructors">Constructors</a>

        <div class="flex-fill flex align-items-end">
            <a class="w-100" href="#">Logout</a>
        </div>

    </div>

    <div class="flex-fill" style="margin-left: 250px">
    {% block main_content %}
    {% endblock %}
    </div>

</div>

</body>
</html>
