{% extends 'base.html' %}

{% block headdata %}
<title>Cars</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cars/car.ratings.css' %}">
{% endblock %}

{% block main_content %}

<h1>
    <small>Rating:</small>
    <span>{{ car.model }}</span>
</h1>

    <div class="card">

        <div class="w-100 flex flex-column">

            <form method="post" action="{% url 'car_rate' car.slug %}" enctype="multipart/form-data">

                {% csrf_token %}

            <table>
            {% for field in rating_form.Meta.fields %}
                <tr>
                    <td>
                        <label for="{{ field }}" class="mr-2"><b>{{ field|title }}</b></label>
                    </td>

                    <td>
                        <input required type="number" max="5" min="1" name="{{ field }}">
                    </td>
                </tr>
            {% endfor %}
            </table>

                <div class="flex justify-content-end">
                    <button class="btn primary-button" type="submit">
                        Submit
                    </button>
                </div>

            </form>
        </div>
    </div>



{% endblock %}