<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cars/car.ratings.css' %}">
</head>

<body>

<h1>Car</h1>

<div class="row">

    <div class="column">
        <h6>Team</h6>
    </div>

    <div class="column">
        <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
    </div>

    <div class="column">
        <h6>Rating Category</h6>
        <label for="ct1"></label>
        <select id="ct1" name="ct1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="column">
        <h6>Rating Category</h6>
        <label for="ct2"></label>
        <select id="ct2" name="ct2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="column">
        <h6>Rating Category</h6>
        <label for="ct3"></label>
        <select id="ct3" name="ct3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <input type="submit">

</div>

</body>
</html>
