{% extends 'base.html' %}

{% block headdata %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cars/cars.css' %}">
<title>{{ car.model }}</title>
{% endblock %}


{% block main_content %}

    <h1>{{ car.model }}</h1>

    <div class="flex flex-row mb-2 justify-content-between">
        <a style="text-decoration: none" href="{% url 'cars' %}">
            <button class="btn back-button">
                Back
            </button>
        </a>

        <a style="text-decoration: none" href="{% url 'car_rate' car.slug %}">
            <button class="btn primary-button">
                Rate
            </button>
        </a>
    </div>

    <div class="flex flex-row">

    <div class="card w-25 m-2">
        <div class="img w-100h-100">
            <img src="{% static 'images/Cars/' %}{{ car.slug }}.jpeg" alt="Picture of {{ car.name }}">
        </div>
    </div>

    <div class="card w-75 flex flex-column m-2">
        <table>
            <tr>
                <td>Model</td>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <td>Horsepower</td>
                <td>{{ car.horsepower }}</td>
            </tr>
            <tr>
                <td>Engine</td>
                <td>{{ car.engine }}</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{ car.weight }}</td>
            </tr>
            <tr>
                <td>Gearbox</td>
                <td>{{ car.gearbox }}</td>
            </tr>
            <tr>
                <td>Constructor</td>
                <td>{{ car.constructor }}</td>
            </tr>
        </table>
    </div>

    </div>

    <div class="card m-2">
        <h3>About</h3>
        <p>{{ car.about }}</p>
    </div>
{% endblock %}