{% extends 'base.html' %}

{% block headdata %}
<title>Cars</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cars/cars.css' %}">
{% endblock %}

{% block main_content %}

<h1>Cars</h1>

<div class="flex flex-row flex-wrap">
    {% for car in cars %}
    <div class="w-25">
        <a style="text-decoration: none" href="{% url 'car_details' car.slug %}">
            <div class="card pointer hover-shadow m-2">
                <div class="img mb-2" style="height: 160px; width: 100%">
                    <img src="{% static 'images/Cars/' %}{{ car.slug }}.jpeg" alt="Picture of {{ car.name }}">
                </div>
                <h5> {{ car.model }} </h5>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}