<!DOCTYPE html>
<html>
<head>
    <title>for1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cars/cars.css' %}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cars/cars.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/styles.css">

</head>
<body>

<h1 align="left">Cars</h1>

<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img class="TeamLogo" src="../../../images/Logos/AlfaRomeo.jpeg" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/AlphaTauri.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="">
            <img class="TeamLogo" src="../../../images/Logos/Alpine.png" alt="Team logo" style="width:100%">
    </div>
    
</div>
<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img class="TeamLogo" src="../../../images/Logos/AstonMartin.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/Ferrari.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/Haas.png" alt="Team logo" style="width:100%">
    </div>
</div>

<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img class="TeamLogo" src="../../../images/Logos/McLaren.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/Mercedes.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/RedBull.png" alt="Team logo" style="width:100%">
    </div>
</div>

</body>
</html>
