{% extends 'base.html' %}

{% block headdata %}
<title>{{ car.model }}</title>
{% endblock %}

{% block main_content %}


<a href="{% url 'cars' %}">
    <button class="btn back-button mt-2">
    Back
    </button>
</a>


<h1>{{ car.model }}</h1>

    <div class="flex flex-row">

    <div class="card w-25 m-2">
        <div class="img w-100 h-100">

        </div>
    </div>

    <div class="card w-75 flex flex-column m-2">
        <table>
            <tr>
                <td>Model</td>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <td>Horsepower</td>
                <td>{{ car.horsepower }}</td>
            </tr>
            <tr>
                <td>Engine</td>
                <td>{{ car.engine }}</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{ car.weight }}</td>
            </tr>
            <tr>
                <td>Gearbox</td>
                <td>{{ car.gearbox }}</td>
            </tr>
            <tr>
                <td>Constructor</td>
                <td>{{ car.constructor }}</td>
            </tr>
        </table>
    </div>

    </div>
{% endblock %}