{% extends 'base.html' %}

{% block headdata %}
<title>Constructors</title>

{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="../../../static/css/constructors/constructors.css">
{% endblock %}

{% block main_content %}

<h1>Constructors</h1>

<div class="flex flex-row flex-wrap">
    {% for constructor in constructors %}
    <div class="w-25">
        <a style="text-decoration: none" href="{% url 'constructor_details' constructor.slug %}">
            <div class="card pointer hover-shadow m-2">
                <div class="img mb-2 flex justify-content-center align-items-center" style="height:180px; width: 100%">
                    <img src="{% static 'images/Logos/' %}{{ constructor.slug }}.jpeg"
                         alt="Picture of {{ constructor.name }}" >
                </div>
                <h5> {{ constructor.name }} </h5>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}