{% extends 'base.html' %}

{% block headdata %}
{% load staticfiles %}
<title>{{ constructor.name }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/constructors/constructors.css' %}">
{% endblock %}


{% block main_content %}

    <h1>{{ constructor.name }}</h1>

    <div class="flex flex-row mb-2 justify-content-between">
        <a style="text-decoration: none" href="{% url 'constructors' %}">
            <button class="btn back-button">
                < Back
            </button>
        </a>

        <a style="text-decoration: none" href="{% url 'constructor_rate' constructor.slug %}">
            <button class="btn primary-button">
                Rate
            </button>
        </a>
    </div>

    <div class="flex flex-row">

    <div class="card w-33 m-2">
        <div class="img w-100 h-100 flex justify-content-center align-items-center">
            <img src="{% static 'images/Logos/' %}{{ constructor.slug }}.jpeg" alt="Picture of {{ constructor.name }}">
        </div>
    </div>

    <div class="card flex-fill flex flex-column m-2 justify-content-center">
        <table>
            <tr>
                <td><div class="smaller-title">Name</div></td>
                <td><div class="mt-2 mb-2">{{ constructor.name }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Team Principal</div></td>
                <td><div class="mt-2 mb-2">{{ constructor.teamPrincipal }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Race Engineer</div></td>
                <td><div class="mt-2 mb-2">{{ constructor.raceEngineer }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Nationality</div></td>
                <td><div class="mt-2 mb-2">{{ constructor.nationality }}</div></td>
            </tr>
            <tr>
                <td><div class="smaller-title">Years active</div></td>
                <td><div class="mt-2 mb-2">{{ constructor.yearsActive }}</div></td>
            </tr>

        </table>
    </div>

    </div>

    <div class="card m-2">
        <h3>About</h3>
        <p>{{ constructor.about }}</p>
    </div>

{% endblock %}