{% extends 'base.html' %}

{% block headdata %}
<title>Constructors </title>

{% load static %}
<link rel="stylesheet" type='text/css' href="../../../static/css/teams/teams.css">
{% endblock %}

{% block main_content %}

<h1>Constructors</h1>

<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img class="TeamLogo" src="../../../images/Logos/AlfaRomeo.jpeg" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/AlphaTauri.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="">
            <img class="TeamLogo" src="../../../images/Logos/Alpine.png" alt="Team logo" style="width:100%">
    </div>

</div>

<div class="row">
    <div class="column">
        <div class='container'>
            <a href="#">Valtteri BOTTAS | </a>
            <a href="#">ZHOU Guanyu </a>
        </div>
    </div>
    <div class="column">
        <div class='container'>
            <a href="#">Pierre GASLY | </a>
            <a href="#">Yuki TSUNODA </a>
        </div>
    </div>
    <div class="column">
        <div class='container'>
            <a href="#">Fernando ALONSO | </a>
            <a href="#">Esteban OCON </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img class="TeamLogo" src="../../../images/Logos/AstonMartin.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/Ferrari.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/Haas.png" alt="Team logo" style="width:100%">
    </div>
</div>

<div class="row">
    <div class="column">
        <div class='container'>
            <a href="#">Lance STROLL | </a>
            <a href="#">Sebastian VETTEL </a>
        </div>
    </div>
    <div class="column">
        <div class='container'>
            <a href="#">Charles LECLERC | </a>
            <a href="#">Carlos SAINZ </a>
        </div>
    </div>
    <div class="column">
        <div class='container'>
            <a href="#">Mick SCHUMACHER</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="column"><a href="https://www.w3schools.com">
        <img class="TeamLogo" src="../../../images/Logos/McLaren.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/Mercedes.png" alt="Team logo" style="width:100%">
    </div>
    <div class="column">
        <a href="https://www.w3schools.com">
            <img class="TeamLogo" src="../../../images/Logos/RedBull.png" alt="Team logo" style="width:100%">
    </div>
</div>

<div class="row">
    <div class="column">
        <div class='container'>
            <a href="#">Lando NORRIS | </a>
            <a href="#">Daniel RICCARDO </a>
        </div>
    </div>
    <div class="column">
        <div class='container'>
            <a href="#">Lewis HAMILTON | </a>
            <a href="#">George RUSSEL </a>
        </div>
    </div>
    <div class="column">
        <div class='container'>
            <a href="#">Max VERSTAPPEN | </a>
            <a href="#">Sergio PEREZ </a>
        </div>
    </div>
</div>
{% endblock %}